# Dev Environment
.venv
.vscode
.env

# MacOS
.DS_Store

# Data Files
data/*

# Test Files
tests/__pycache__
tests/__pycache__/*

# Pycache
__pycache__
__pycache__/*

# Terraform
*.tfvars
.terraform*
*.tfstate